section {
    padding: 5px 0;
}

div {
    margin: 0px 10px 0 10px;
    background: rgb(222, 219, 244);
}


/*div.wrap{
    margin:0 auto
    上部の余白が出来ない→sectionで設定する
} */

figure {
    margin: 0;
    width: 100%;
    border: solid 3px #000000;
}


/*
img {
    margin: 0 0 0 0;
    width: 100%
} */

h1 {
    color: rgb(72, 52, 212);
    text-align: center;
    font-size: 35px;
    background-color: rgb(175, 169, 212);
}

h2 {
    color: rgb(72, 52, 212);
    margin: 0 0 0 0;
    background: rgb(175, 169, 212);
    font-size: 27px;
}